/*

 Dark Green : #4BB5C1
  Mid Green : #A8FF56
       Lite : #FFFFFF
Dark Purple : #FFFFFF

*/


/* ******************************
              CSS RESET
            
   ****************************** */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




html, body {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    background-color: #4BB5C1;
    font-family: 'Open Sans', sans-serif;
}



/* ******************************
              BUTTONS!
     (Inspired by Bootstrap 3.0)
   ****************************** */

.btn {
    display: inline-block;
    height: 100%;
    width: 49%;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: #96CA2D;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
/*
.btn:hover, .btn:focus {
    background-color: #B5E655;
    text-decoration: none;
}
*/
.btn:hover {
    background-color: #FFF000;
    text-decoration: none; 
}
.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

#gameArea {
    height: 100%;
    width: 100%;
}

.titleWrapper {
    height: 50%;
    width: 96%;
    font-weight: 400;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.title {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-weight: 300;
}

.buttons {
    width: 100%;
    text-align: center;
}

/* ******************************
          START SCREEN
     (create-game-template)
   ****************************** */

.createGameWrapper, .joinGameWrapper, .gameOver {
    margin: 0 auto;
    text-align: center;
}

.createGameWrapper .info{
    font-weight: 400;
    font-size: 2em;
    margin-top: 1.5em;
}

.createGameWrapper {
    font-weight: 300;
}

.info label {
    display: block;
}

.info input {
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 54px;
    border: 1px dotted white;
    border-radius: 10px;
    background: transparent;
}

.info input#inputPlayerName {
    width: 90%;
}


/* ******************************
           JOIN SCREEN
      (join-game-template)
   ****************************** */

.joinGameWrapper {
    height: 100%;
    min-height: 320px;
}

.joinGameWrapper .info {
    font-size: 1.5em;
    height: 30%;
    padding-top: 1%;
}

.joinGameWrapper .btn {
    width: 100%;
    height: 50%;
}

#playerWaitingMessage {
    font-size: .8em;
}

.createGameWrapper #gameURL {
    font-size: 4em;
}

.createGameWrapper .gameId {
    font-size: 8em;
}



/* ******************************
          PLAYER GAME SCREEN

   ****************************** */

.btnAnswer {
    width: 100%;
    border-bottom: 1px dotted white;
    font-weight: 400;
    font-size: 3em;
}



/* ******************************
            HOST SCREEN
       (host-game-template)
   ****************************** */

/* Absolute Centering: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
#questionArea {
    font-weight: 400;
    position: absolute;
    height: 20%;
    width: 96%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

#hostQuestion {
    height: 100%;
    width: 100%;
}

#hostQuestion h2, #btnPlayerRestart h3 {
    font-size: 161px;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.playerScore {
    width: 50%;
    font-weight: 400;
    height: 100%;
    color: #000000;
}

.playerScore span {
    display: inline-block;
    font-size: 1.4em;
    padding: 2%;
    min-width: 10%;
    border: solid;
}

.playerScore .score {
    text-align: center;
    background-color: #A8FF56;
}

.playerScore .playerName {
    width: 77%;
    background-color: #FFFFFF;
}

#player1Score {
    float: left;
}

#player2Score {
    float: right;
    text-align: right;
}


/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

.gameOver {
    display: block;
    height: 20%;
    padding-top: 10%;
    font-size: 2em;
}

.btnGameOver {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}


/* Tintin */
.selected {
    background-color: #FF6138;
}

#timer {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
}

#innerTimer {
    width: 50%;
    height: 100%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

#ulScore {
    width: 80%;
    height: 100%;
    position: fixed;
}

.bigTxt {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.mediumTxt {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

.topleft {
    top: 5%;
    left: 5%;
    position: absolute;
}

.bottomright {
    bottom: 5%;
    right: 5%;
    position: absolute;
    text-align: right;
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

#playerScoreScreenWrapper {
    width: 100%;
    height: 100%;
}

#answersTable {
    width: 100%;
    height: 100%;
    background-color: #96CA2D;
}

/*
#answersTable button {
    padding: 0;
    border: 0;
}
*/